data/*
!data/raw/
!data/processed/
data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/README.md

runs/*
!runs/README.md
!runs/.gitkeep

results/*
!results/README.md
!results/.gitkeep

__pycache__/
.ipynb_checkpoints/
